In [23]:
my_list = []
numbers = [1,2,3,4,5,6]
names = ["bhavana","khyathi","keerthi","ajitha"]
mixed_types = [1, "bhavana",5.63,True]

In [25]:
print(type(mixed_types))

<class 'list'>

In [29]:
language = ["burger","chesse","chicken","combo"]
print(language[2])
print(language[-1])

chicken
combo

In [37]:
my_list = ['a', 'b','c','d','e','f','g','h']
print(my_list[4:5])
print(my_list[2:])
print(my_list[:])

['e']
['c', 'd', 'e', 'f', 'g', 'h']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [47]:
#list operators
# concatenation
a = [1,2,3,4]
b = [4,5,6,7]
c = a+b
print(c)

[1, 2, 3, 4, 4, 5, 6, 7]

In [49]:
a = ['apple', 'banana', 'cat', 'dog']
b = ['elephant', 'fish' , 'goat']
c = a+b
print(c)

['apple', 'banana', 'cat', 'dog', 'elephant', 'fish', 'goat']

In [73]:
#repetition
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = a*5
a = ['apple', 'banana','cat']
b = ['dog','elephant']
e = a*10
print(c)
print(e)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
['apple', 'banana', 'cat', 'apple', 'banana', 'cat', 'apple', 'banana', 'cat', 'apple', 'banana', 'cat', 'apple', 'banana', 'cat', 'apple', 'banana', 'cat', 'apple', 'banana', 'cat', 'apple', 'banana', 'cat', 'apple', 'banana', 'cat', 'apple', 'banana', 'cat']

In [55]:
a = ['apple', 'banana','cat']
b = ['dog','elephant']
c = b*7
print(c)

['dog', 'elephant', 'dog', 'elephant', 'dog', 'elephant', 'dog', 'elephant', 'dog', 'elephant', 'dog', 'elephant', 'dog', 'elephant']

In [75]:
#changing list items
b = ['apple','banana','cat']
b[2]='dog'
c = [1,2,4]
c[2]=3
print(b)
print(c)

['apple', 'banana', 'dog']
[1, 2, 3]

In [93]:
#changing a range of item values
thislist= ['beetroot','carrot','potato','tomato','cucumber','ginger']
thislist[1:4]=['Blackcurrent','watermelon']
mylist=[1,2,4,5,6]
mylist[2:4]=[8,9]
print(thislist)
print(mylist)

['beetroot', 'Blackcurrent', 'watermelon', 'cucumber', 'ginger']
[1, 2, 8, 9, 6]

In [97]:
#list methods
#append()
z = [101,102,103]
z.append(104)
y =['grapes','pineapple','jacfruit']
y.append('dragonfruit')
print(z)
print(y)

[101, 102, 103, 104]
['grapes', 'pineapple', 'jacfruit', 'dragonfruit']

In [99]:
#extend()
z = [1,2,3]
y =[4,5,6,7]
z.extend(y)
a = ['biriyani','chicken']
b = ['fry peace','coke']
a.extend(b)
print(z)
print(a)

[1, 2, 3, 4, 5, 6, 7]
['biriyani', 'chicken', 'fry peace', 'coke']

In [121]:
#insert()
a = [1,2,3]
a.insert(1,5)
b = [98,876,543]
b.insert(543,234)
print(a)
print(b)

[1, 5, 2, 3]
[98, 876, 543, 234]

In [127]:
#remove
numbers = [1,2,3,4,5,4,5,4,6]
numbers.remove(4)
number = [2,3,2,3,4,2,4]
number.remove(2)
print(numbers)
print(number)

[1, 2, 3, 5, 4, 5, 4, 6]
[3, 2, 3, 4, 2, 4]

In [133]:
#pop()
numbers = [1,2,3,4,5,7,8,9]
numbers.pop(6)
number = [9,8,7,6,5]
number.pop(4)
print(numbers)
print(number)

[1, 2, 3, 4, 5, 7, 9]
[9, 8, 7, 6]

In [141]:
#index()
numbers=[10,20,20,40,30,20,30,30,30,40]
index = numbers.index(30)
print(index)

4

In [143]:
#count()
numbers = [2,2,4,6,2,8,2,10,2,3,4,5,6,2]
count = numbers.count(2)
print(count)

6

In [ ]:
#sort()
numbers = [6,3,2,6,7,9,4,2,6,8]
numbers.sort